{{ define "Header" }}
<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <title>Golang Mysql CRUD Usuarios</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang Mysql CRUD Usuarios</h1>   
{{ end }}